<% if @repo %>
<div id="sidebar" class="col-xs-6 col-sm-3">
  <h2 class="text-center">Posts</h2>
  <a href="/editor?file=new&repo=<%= @repo %>" class="list-group-item post-link">New Post</a>
  <% @posts.each do |post| %>
    <a href="/editor?file=<%= post %>&repo=<%= @repo %>" class="list-group-item post-link"><%= post %></a>
  <% end %>
</div>

<div class="container" id="editor">
<%= form_tag save_path, method: 'post' do %>
<%= text_field_tag :repo, @repo, class: 'hidden'%>
<div class="col-md-9 col-sm-12 col-xs-12">
  <% @file,@content = "#{Time.zone.now.to_date.strftime('%d-%m-%Y')}-Your-Awesome-Post.md",nil if params[:file] == 'new' %>
  <%= text_field_tag :file, @file, class: 'form-control', placeholder: 'File name, eg: _posts/your-post-name.md' %>
  <div id="epiceditor">
    <%= text_area_tag :input, raw(@content)%>
  </div>
  <%= submit_tag 'Save', class: 'btn btn-primary btn-success savebtn' %>
</div>
<% end %>
<% else %>
<% repos = []
    @repo_names.each {|r| repos << [r, r]} %>
<div class="modal fade" id="select-repo-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select a repository</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/editor', method: 'get', class: 'text-center') do %>
        <%= select_tag :repo, options_for_select(repos), class: 'form-control' %>
        <br/>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        <%= submit_tag 'Select', class: 'btn btn-primary btn-submit btn-success' %>
        <% end %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<% end %>
<script>
  $('#select-repo-modal').modal('show');
</script>
</div>
